.container {
  display: flex;
  flex-direction: column;
}

.header {
  font-size: 32px;
  align-self: center;
}

.emptyCart {
  margin: 0 25px;
  align-self: center;
  font-size: 20px;
  margin-top: 20px;
}

.cart {
  border-top: 2px solid #999;
  margin-bottom: 15px;

  .cartItem {
    border-bottom: 2px solid #ddd;
  }
}

.total {
  margin-right: 25px;
  align-self: right;
  font-size: 20px;
  text-align: right;
}